body {
    box-sizing: border-box;
}

#swp {
    max-width: 1080px;
    margin: 0 auto;
}



.assignmentCard {
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: grey;
    width: 100%;
}