<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mathias | Admin</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="inc/styling/css/admin.css" />
    </head>
    <body>
        <div id="swp">
            <% if (locals.messages != null) { %>
                <% let messages = Array(locals.messages); messages.forEach((m) => { %>
                    <div class="w3-panel w3-red" id="alert"><p><%= m.info %></p></div>
            <% })} %>

            <!-- Nav -->
            <div class="w3-display-container w3-bar w3-dark-grey">
                <a href="/" class="w3-bar-item w3-button w3-mobile w3-blue w3-hover-blue" style="width:33%">Home <i class="fa-solid fa-home"></i></a>
                <a href="/logout" class="w3-bar-item w3-button w3-mobile w3-display-right w3-hover-blue" style="width:33%">Log out <i class="fa-solid fa-sign-out"></i></a>
            </div>

            <div class="w3-margin-top">
                <div class="w3-quarter">
                    <nav class="w3-bar-block">
                        <button class="w3-bar-item w3-button w3-dark-grey w3-hover-blue" onclick="changeTab(1);">All Users</button>
                        <button class="w3-bar-item w3-button w3-dark-grey w3-hover-blue" onclick="changeTab(2);">Search User</button>
                      </nav>
                </div>

                <div class="w3-threequarter w3-margin-left" id="displayTab">
                    <ul class="w3-ul w3-card-4" id="displayAllUsers">
                        


                    </ul>

                    <ul class="w3-ul w3-card-4" id="searchUser" style="display:none;">
                        <form class="w3-container">
                            <input class="w3-input" type="text" placeholder="Username">
                            <button class="w3-btn w3-blue">Search</button>
                        </form>
                    </ul>
                </div>
                
              </div>

        </div>
        
        <script src="inc/styling/js/admin.js"></script>
    </body>
</html>