<html>
    <head>

    </head>
    <body>
        <p>Hi <%= name %></p>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log out</button>
        </form>
    </body>
</html>