<html>
    <head>

    </head>
    <body>
        <p>Register</p>
        <form action="/register" method="POST">
            <input type="text" placeholder="name" id="name" name="name" required>
            <input type="password" placeholder="password" name="password" id="password" required>
            <button type="submit">Register</button>
        </form>
        <a href="/login">Login</a>
    </body>
</html>